.principal {
  flex-wrap: wrap;  
  color:black;
}

h1 {
  color: black;
  font-size: 24px;
  margin-bottom: 20px;
}

footer {
  background-color: darkblue;
  padding: 20px;
  text-align: center;
  color:antiquewhite
  margin-top: 40px;
  font-size: 12px;
  font-family: 'Arial', sans-serif;
}